// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin{
  margin-bottom: 20px;
}
.unsubscribe{
  padding-top: 150px;
  text-align: center;
  min-height: 550px;
}