// Place all the styles related to the public/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-boxs{
  display: flex;
  flex-wrap: wrap;
}
.product-box{
  width: 25%;
  padding-bottom: 30px;
  text-align: center;
}
.products_show{
  padding: 100px;
}
.product:hover{
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-6px);
}
.product-introduction{
  overflow-wrap: anywhere;
}
