<div class="container search-result">
  <% if @range == "商品" %>
    <h2>検索ワード "<%= @word %>"</h2>
    <%= render 'admin/products/product_index', products: @search_products %>
  <% end %>

  <% if @range == "会員" %>
    <h2>検索ワード "<%= @word %>"</h2>
    <%= render 'admin/customers/customer_index', customers: @search_customers %>
  <% end %>

 
</div>