<div class ="genre">
  <div class="container">
  <h4>ジャンル編集</h4>
    <%= form_with model: @genre, url: admin_genre_path(@genre.id), local: true do |f| %>
      <table>
        <th>ジャンル名</th>
        <td><%= f.text_field :name %></td>
      </table>
      <p><%= f.submit'変更を保存' %></p>
    <% end %>
  </div>
</div>